<div>
  <div class="p-2 rounded bg-slate-50 shadow-lg m-2">
    <div class="text-center w-fit m-auto">
      <img
        class="rounded-full"
        src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
      />
      <p class="py-2 font-bold">Zain Ahmed</p>
    </div>
  </div>
  <div class="p-2 rounded bg-slate-50 shadow-lg m-2">
    <ul
      class="flex flex-wrap items-center justify-center text-gray-900 dark:text-black"
    >
      <li>
        <a href="#" class="mr-4 text-lg hover:underline md:mr-6 font-bold"
          >Wishlist</a
        >
      </li>
      <li>
        <a href="#" class="mr-4 text-lg hover:underline md:mr-6 font-bold"
          >Orders</a
        >
      </li>
    </ul>
  </div>
  <div
    class="p-2 rounded bg-slate-50 shadow-lg m-2 flex flex-wrap justify-center"
  >
    <app-wishlist></app-wishlist>
    <app-wishlist></app-wishlist>
    <app-wishlist></app-wishlist>
    <app-wishlist></app-wishlist>
    <app-wishlist></app-wishlist>
    <app-wishlist></app-wishlist>
  </div>
</div>
